*.mat
*.stl
*.off
*.nii.gz
*.nii
*.log
*.asv
__pycache__
**/code/Data/OAI_ZIB/NonImagingData
**/code/Data/OAI_ZIB/registered
.vscode
*.bbl
*.aux
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.xml
*.gz
*.toc
*.html
